<style>
    #tablaUsuarios th, td {
        text-align: center;
    }
</style>
<h3></h3>
<div class="panel panel-default">
    <div class="panel-heading">
        Lista de Usuarios
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="tablaUsuarios">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre de Usuario</th>
                        <th>Login</th>
                        <th>Correo Electronico</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>                    
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<script src="../public/js/usuario.js"></script>