<div class="container-fluid">					
	<h1 class="page-header">Categorías</h1>
	
	<div class="row">
		
		<div class="col-md-8">						
			<div class="well">							
				<form action="#" method="post">
					<div class="form-group">								
						<label for="categoria">Nombre de Categoria</label>
						<input type="text" name="nombre_categoria" id="nombre_categoria" class="form-control">
					</div>
					<a href="#" id="btnGuardar" class="btn btn-danger">Guardar</a>					
					<input type="hidden" name="evento" value="insertar_categoria">
				</form>
			</div>
		</div>

		<div class="col-md-4">
			<div class="well">							
				<h4>Lista de Categorias</h4>
				<table class="table table-bordered table-stripped" id="tablaCategorias">
					<thead>
						<tr class="text-center">
							<th>ID</th>
							<th>Categoria</th>							
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>

<script type="text/javascript" src="../public/js/categoria.js"></script>