<div class="row">
    <div class="col-md-6">
        <a href="#">
            <img class="img-responsive img-thumbnail" src="../{imagen}" alt="{titulo}">
        </a>
    </div>
    <div class="col-md-6">
        <h3>{titulo}</h3>
        <h4><small>Publicado el {fecha_publicacion}</small></h4>
        <p>{contenido}</p>
        <a class="btn btn-warning" href="#" data-id="{id_articulo}" id="dt_noticia">Leer Noticia <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<hr>