<div class="panel panel-info">
	<div class="panel-heading">
		<a href="#" data-id="{id_articulo}" id="titulo_noticia"><h4>{titulo}</h4></a>
	</div>
	<div class="panel-body">
		<img src="../{imagen}" alt="" class="img-responsive">
		<br>
		{contenido}
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-2">
				<a href="#" data-id="{id_articulo}" id="dt_noticia">Leer más</a>
			</div>
			<div class="col-md-10 text-right">
				<small>Autor: {autor} | Fecha: {fecha_publicacion} | Categoría: {categoria}</small>
			</div>
		</div>
	</div>
</div>
<hr>