<div class="blog-item well">
    <a href="#" data-id="{id_articulo}" id="titulo_noticia"><h2>{titulo}</h2></a>
    <div class="blog-meta clearfix">
        <p class="pull-left">
          <i class="icon-user"></i> por <a href="#">{autor}</a> | <i class="icon-folder-close"></i> Categoría <a href="#">{categoria}</a> | <i class="icon-calendar"></i> {fecha_publicacion}
      <p class="pull-right"><i class="icon-comment pull"></i> <a href="blog-item.html#comments"># Comentarios</a></p>
  </div>
  <p><img src="../{imagen}" width="100%" alt="" height="500" /></p>
  <p>{contenido}</p>
  <a class="btn btn-link" href="#" data-id="{id_articulo}" id="dt_noticia">Leer Más <i class="icon-angle-right"></i></a>
</div>
